@import '../../../scss/variables';
@import '../../../scss/mixins';

.container {
  font-size: 1.8rem;
  font-family: $font-cairo;
  background-color: $background-color;
  color: $white;
  padding: 4rem;
  display: flex;
  flex-direction: column;
}
.catalogInfo {
  padding: 3rem;
  text-indent: 4rem;
  font-size: 2rem;
  font-family: $font-cairo;
}
.btnContainer {
  padding: 3rem;
  text-align: center;
  margin-bottom: 2rem;
  & a {
    text-decoration: none;
    color: white;
  }
  & button {
    font-size: 1.8rem;
    font-family: $font-mont;
    font-weight: 800;
    padding: 1.5rem 5rem;
    cursor: pointer;
    background-color: $primary;
    color: $white;
    border: none;
    box-shadow: -0.1rem 0.4rem 1.7rem 0.2rem rgba(0, 0, 0, 0.75);
  }
}
.photos {
  width: 100%;
  height: 20rem;
  display: flex;
  box-shadow: -0.1rem 0.4rem 1.7rem 0.2rem rgba(0, 0, 0, 0.75);
}
.imgContainer {
  position: relative;
  width: 100%;
  height: 20rem;
  margin-bottom: 6rem;
}
.functionality {
  padding: 4rem;
  text-indent: 4rem;
  font-size: 2rem;
  font-family: $font-cairo;
}
.catalogs {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}
.box {
//   background-color: red;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  font-family: $font-mont;
}
.link {
    margin-top: 2rem;
  font-size: 1.7rem;
  font-family: $font-mont;
  font-weight: 800;
  text-decoration: none;
  padding: 1.5rem 3rem;
  cursor: pointer;
  background-color: $primary;
  color: $white;
  border: none;
  box-shadow: -0.1rem 0.4rem 1.7rem 0.2rem rgba(0, 0, 0, 0.75);
}
