@import '../../scss/variables';
@import '../../scss/mixins';
//linear-gradient(360deg, $primary-dark 0%, $primary-light 100%)
.Header {
  width: 100%;
  height: 13rem;
  display: flex;
  flex-direction: column;
  background: white;
  position: absolute;
}
.container {
  width: 100%;
  background-color: transparent;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0.5rem 0.5rem;
}
.logo {
  height: 8rem;
  width: 30rem;
  position: relative;
  @include respond(tab-small) {
    width: 25rem;
  }
}
.custom_img {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}
.btn {
  font-size: 2rem;
  text-decoration: none;
  color: $primary-dark;
  background-color: $white;
  padding: 0.3rem 2rem;
  border: none;
  box-shadow: 0px 3px 5px 3px rgba(0, 0, 0, 0.75);
}
.headerBtn {
  @media only screen and (max-width:38.75em){
    display: none;
  }
}
.mobileHeaderBtn {
  display: none;
  @media only screen and (max-width:37.5em){
    display: block;
  }
}

.contactInfo {
  display: flex;
  font-size: 1.3rem;
  font-family: $font-arvo;
  p {
    margin: 0rem 0.3rem;
    @include respond(phone) {
      display: none;
    }
  }
  & a {
    text-decoration: none;
    color: black;
    margin: 0rem 1rem;
  }
  & a:hover {
    color: white;
  }
  @include respond(tab-port) {
    font-size: 1.1rem;
  }
  @include respond(phone-small) {
    margin: 0rem 0.5rem;
    font-size: 1rem;
  }
}

.menuIcon {
  display: none;
  color: $black;
  @include respond(phone-md) {
    display: block;
    position: absolute;
    top: 7.5rem;
    right: 3rem;
    font-size: 2.5rem;
    cursor: pointer;
  }
}
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  font-size: 1.8rem;
  font-family: $font-cairo;
  color: $white;
}
.nav_menu {
  display: flex;
  list-style: none;
  text-align: center;
  justify-content: space-between;
  & li {
    display: flex;
    align-items: center;
    height: 2rem;
    margin: 0 1rem 0.5rem 1rem;
    @include respond(phone-md) {
      padding: 4rem 0rem;
      font-size: 3rem;
    }
  }
  @include respond(phone-md) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 100vh;
    position: absolute;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
    padding: 5rem;
  }
}
.nav_menu.active {
  background: linear-gradient(360deg, $primary-dark 0%, $primary-light 100%);
  left: 0;
  top: 13rem;
  opacity: 1;
  transition: all 0.5s ease;
  z-index: 10;
}
.nav_links {
  color: $primary;
  text-decoration: none;
  padding: 0.5rem 1rem;
  &:hover {
    background-color: $primary-light;
    border-radius: 0.4rem;
    transition: all 0.2s ease-out;
    color: $white;
    @include respond(phone-md) {
      background-color: $primary-light;
      border-radius: 0;
    }
  }
  @include respond(phone-md) {
    text-align: center;
    width: 100%;
    display: table;
  }
}
.dropdown_menu {
  background: linear-gradient(360deg, $primary-dark 0%, $primary-light 100%);
  width: 16rem;
  position: absolute;
  top: 12rem;
  z-index: 20;
  display: flex;
  flex-direction: column;
  align-items: center;

  & li {
    cursor: pointer;
    width: 100%;
    height: 100%;
  }
  & li:hover {
    background: $primary-light;
    color: $black;
  }
  @include respond(phone-md) {
    display: none;
  }
}
.dropdown_menu.clicked {
  display: none;
}
.dropdown_link {
  // display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: $white;
  // padding: 1.6rem;
}
.caret {
  @include respond(phone-md) {
    display: none;
  }
}
