.flex_column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.p-30 {
  padding: 3rem;
}
.pt-100{
  padding-top: 10rem;
}
.mt-100 {
  margin-top: 10rem !important;
}
.mb-120{
  margin-bottom: 12rem !important;
}
.ml-10 {
  margin-left: 1rem !important;
}
.mr-10 {
  margin-right: 1rem !important;
}